* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode h2 {
    color: inherit; /* Ensure h2 elements inherit the text color */
}

/* Header styling */
header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0d0d26;
    padding: 20px 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    margin: 0 20px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

#navbar ul li a:hover {
    background-color: #555;
}

#darkModeToggle {
    position: absolute;
    right: 20px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

body.dark-mode #darkModeToggle {
    background-color: #ddd;
    color: #333;
}

.dark-mode button {
    background-color: #333333;
    color: #ffffff;
}

/* Main section styling */
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

/* About Me section styling */
#about-me {
    background-color: #fff;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode #about-me {
    background-color: #222;
}

#about-me img {
    flex: 1;
    width: 50%;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    max-width: 300px;
}

@media (max-width: 768px) {
    .about-me-container {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
}

.about-me-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-text-container {
    flex: 1;
    margin-right: 2rem;
}

.about-me-text-container h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

body.dark-mode .about-me-text-container h1 {
    color: #fff;
}

.about-me-text-container p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.8;
}

body.dark-mode .about-me-text-container p {
    color: #ddd;
}

/* Projects section styling */
#projects {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode #projects {
    background-color: #222;
}

#projects h2 {
    margin-bottom: 1.5rem;
}

details {
    display: block;
    position: relative;
}

summary {
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
}

details summary::before {
    content: "▶";
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: -5px;
    transition: transform 0.3s ease;
}

details[open] summary::before {
    transform: rotate(90deg);
}

.project {
    margin-bottom: 1.5rem;
}

.project-title {
    cursor: pointer;
    font-size: 1.2rem;
    color: #1c1c1c;
}

body.dark-mode .project-title {
    color: #ccc;
}

.project-title:hover {
    color: #1f1f83;
}

.project-description {
    font-size: 1.1rem;
    color: #666;
    margin-top: 0.5rem;
}

body.dark-mode .project-description {
    color: #ddd;
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
}

/* Skills section styling */
#skills {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode #skills {
    background-color: #222;
}

#skills-container {
    font-size: 3rem;
    color: #4d4d4f;
}

body.dark-mode #skills-container {
    color: #ddd;
}

#skills-container i {
    margin: 0.5rem;
}

/* Footer styling */
footer {
    background-color: #0d0d26;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Handle image load failures */
img {
    display: block;
    width: 100%;
    height: auto;
}

img.error {
    display: none;
}

img.error::before {
    content: attr(alt);
    display: block;
    color: inherit;
    text-align: center;
}