* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode h2 {
    color: inherit; /* Ensure h2 elements inherit the text color */
}

/* Header styling */
header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0d0d26;
    padding: 20px 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    margin: 0 15px; /* Adjusted from 20px to 15px */
    position: relative; /* Ensure relative positioning for child elements */
}


#navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

#navbar ul li a:hover {
    color: #ffd700;
}

#darkModeToggle {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    z-index: 1001;
}


body.dark-mode #darkModeToggle {
    background-color: #ddd;
    color: #333;
    z-index: 1001;
}

.dark-mode button {
    background-color: #333333;
    color: #ffffff;
}

/* Passions Section Styles */
#passions {
    text-align: center;
    margin: 2rem 0;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode #passions {
    background-color: #222;
}

#passions h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#passions span {
    font-size: 1.5rem;
    color: #666;
}

body.dark-mode #passions span {
    color: #ddd;
}

/* Main section styling */
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

/* About Me section styling */
#about-me {
    background-color: #fff;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode #about-me {
    background-color: #222;
}

#about-me img {
    flex: 1;
    width: 50%;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    max-width: 300px;
}

@media (max-width: 768px) {
    .about-me-container {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
}

.about-me-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-text-container {
    flex: 1;
    margin-right: 2rem;
}

.about-me-text-container h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

body.dark-mode .about-me-text-container h1 {
    color: #fff;
}

.about-me-text-container p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.8;
}

body.dark-mode .about-me-text-container p {
    color: #ddd;
}

/* Projects section styling */
#projects {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode #projects {
    background-color: #222;
}

#projects h2 {
    margin-bottom: 1.5rem;
}

.project h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #555;
}

.project ul {
    list-style-type: disc;
    padding-left: 20px; /* Adjust the padding to shift bullet points to the right */
}

.project ul li {
    margin-bottom: 5px;
    padding-left: 10px; /* Additional padding to further shift the bullet points */
}

.project p,
.project ul li {
    color: #111111; /* Set the same color for <p> and <li> elements */
}

details {
    display: block;
    position: relative;
}

summary {
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
}

details summary::before {
    content: "▶";
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: -5px;
    transition: transform 0.3s ease;
}

details[open] summary::before {
    transform: rotate(90deg);
}

.project {
    margin-bottom: 1.5rem;
}

.project-title {
    cursor: pointer;
    font-size: 1.2rem;
    color: #1c1c1c;
}

body.dark-mode .project-title {
    color: #ccc;
}

.project-title:hover {
    color: #7c46ba;
}

.project-description {
    font-size: 1.1rem;
    color: #666;
    margin-top: 0.5rem;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #422662;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: 14%;
}

.button:hover {
    background-color: #8c3b94;
}

body.dark-mode .project-description {
    color: #ddd;
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
}

/* Skills section styling */
#skills {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 6rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode #skills {
    background-color: #222;
}

#skills-container {
    font-size: 3rem;
    color: #4d4d4f;
}

body.dark-mode #skills-container {
    color: #ddd;
}

#skills-container i {
    margin: 0.5rem;
}

#skills-container i.fa-html5:hover {
    color: #e34c26;
}

#skills-container i.fa-css3-alt:hover {
    color: #264de4;
}

#skills-container i.fa-js:hover {
    color: #f0db4f;
}

#skills-container i.fa-python:hover {
    color: #FFDE57;
}

#skills-container i.fa-git-alt:hover {
    color: #f14e32 ;
}

#skills-container i.fa-github:hover {
    color: #4078c0;
}

#skills-container i.fa-chrome:hover {
    color: #1DA462;
}

#skills-container i.fa-terminal:hover {
    color: #000000;
}

#skills-container i.fa-database:hover {
    color: #f29111;
}

#skills-container i.fa-r:hover {
    color: #165CAA;
}

#skills-container i.fa-php:hover {
    color: #8993be;
}


/* Footer styling */
footer {
    background-color: #0d0d26;
    color: white;
    text-align: center;
    padding: 1rem 0.5rem; /* Reduced padding */
    font-size: 1rem; /* Smaller font size */
    position: fixed;
    width: 100%;
    bottom: 0;
    display: none;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Custom timing */
}

footer:not(.hidden) {
    display: block;
}

#footer.hidden {
    display: block;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Custom timing */
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Align items vertically in the center */
    padding: 5px; /* Adjust padding */
    background-color: #0d0d26;
    color: #fff;
}

.footer-container div {
    flex: 1;
    padding: 5px; /* Adjust padding */
}

.footer-nav {
    display: flex; /* Display navigation links inline */
    justify-content: center; /* Center align navigation links horizontally */
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-nav ul li {
    margin-right: 70px; /* Adjust margin between items */
}

.footer-nav ul li:last-child {
    margin-right: 0; /* Remove margin from last item */
}

.footer-nav ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-nav ul li a:hover {
    color: #ffd700; /* Yellow color on hover */
}
.footer-contact a {
    color: #fff;
}

.footer-social ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Center align social icons */
}

.footer-social ul li {
    margin: 0 5px; /* Adjust margin between items */
}

.footer-social ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px; /* Adjust icon size */
}

.footer-social ul li a:hover {
    color: #ffd700;
}

/* Handle image load failures */
img {
    display: block;
    width: 100%;
    height: auto;
}

img.error {
    display: none;
}

img.error::before {
    content: attr(alt);
    display: block;
    color: inherit;
    text-align: center;
}

/* Phone screen sizes */
@media (max-width: 768px) {
    main {
        padding: 1rem; /* Adjust padding for smaller screens */
    }

    #passions {
        margin-top: 40%;
    }

    #darkModeToggle {
        display: none; /* Hide toggle button on smaller screens if necessary */
    }

    .about-me-container {
        flex-direction: column; /* Stack items vertically for smaller screens */
        align-items: center;
    }

    #about-me img {
        width: 100%; /* Make the image responsive */
        max-width: 100%;
        margin-top: 20px;
    }

    details summary::before {
        content: none !important; /* Remove emoji arrow */
    }

    #projects {
        padding: 1.5rem; /* Adjust padding for smaller screens */
    }

    #projects video {
        width: 100%; /* Make the video responsive */
        height: auto; /* Ensure aspect ratio is maintained */
    }

    #projects h2 {
        font-size: 1.8rem; /* Decrease font size for smaller screens */
    }

    .project-title {
        font-size: 1.1rem; /* Adjust project title font size */
    }

    .project-description {
        font-size: 1rem; /* Adjust project description font size */
    }

    #skills {
        padding: 1.5rem; /* Adjust padding for smaller screens */
        margin-bottom: 100%;
    }

    #skills-container {
        font-size: 2rem; /* Decrease icon size for smaller screens */
    }

    footer {
        flex-direction: column; /* Change to column layout for mobile */
        align-items: center; /* Center align items vertically */
    }

    .footer-nav,
    .footer-contact,
    .footer-social {
        margin-bottom: 0.5rem; /* Adjusted margin */
    }

    .footer-container {
        flex-direction: column; /* Stack footer items vertically */
        align-items: center;
        padding: 1rem; /* Adjust padding for smaller screens */
    }

    .footer-nav ul li {
        margin-right: 0; /* Remove margin between footer nav items */
        margin-bottom: 10px; /* Add space between footer nav items */
    }

    .footer-social ul li {
        margin: 0 10px; /* Adjust margin between social icons */
    }


}